<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <h1>Hello! Welcome to Chieh-Yu's Multi-Function Program</h1>
</head>
<body>
    <div class = "container">
        <h2>You can choose to run one of the programs at a time! Have fun!</h2>
        <form action="/" method="post">
            <select name="program_choice">
                <option value="bmi">BMI Calculator</option>
                <option value="blood_pressure">Blood Pressure Checker</option>
                <option value="water_intake">Water Intake Calculator</option>
            </select><br>
            <button type="submit">Choose Program</button>
        </form>
    </div>
</body>
</html>
